@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .bg {
        @apply bg-white dark:bg-gray-900
    }
    .title {
      @apply font-semibold text-base
    }
    .headline {
      @apply text-2xl  
    }
    .hoverText {
      @apply hover:bg-gray-200 dark:hover:bg-gray-400
    }
    .button {
      @apply   flex space-x-1 py-2 border-[1px] border-gray-300 items-center bg-white hover:bg-gray-200 
       active:ring-blue-300 active:ring-2 px-3
    }
    .buttonInverse {
      @apply   flex space-x-1 py-2 border-[1px] border-gray-300 items-center text-white bg-primary hover:bg-gray-200 
       active:ring-blue-300 active:ring-2 px-3 hover:text-gray-800
    }
    .button2 {
      @apply bg-gray-200 border-[1px] border-gray-400 p-1  active:ring-blue-300 active:ring-2
    }
    .buttonPrimary {
      @apply  py-[7px] border-[1px] border-primary hover:bg-white font-medium h-min text-sm rounded-sm
      active:ring-offset-primary active:ring-2 px-2 bg-primary text-white hover:text-primary 
    }
    .smallButton {
      @apply   flex space-x-1 py-1 border-[1px] border-gray-300 items-center bg-white hover:bg-gray-200 
      active:ring-blue-300 active:ring-2 px-3
    }
    .textOption {
      @apply font-semibold text-base px-2 sm:px-3 text-gray-500 cursor-pointer
    }
    .disabled {
      @apply opacity-50 cursor-not-allowed
    }
    .card {
      @apply rounded-xl shadow-md p-3 grid place-content-center border-[1px] border-gray-300
    }

    .detailInfo {
      @apply grid grid-cols-2 place-items-start py-2 border-b-2 items-center gap-x-2
    }

    .tab {
      @apply p-4  hover:border-b-2 cursor-pointer border-gray-400
     }
     .paddingTable {
      @apply py-3 px-3  whitespace-nowrap
     }
     .label {
      @apply font-medium text-sm
    }
    .help-text{
      @apply text-xs text-gray-500
    }
     .input {
      @apply border-[1px] rounded-lg rounded-b-lg   p-2 h-9 w-full border-gray-400 mt-1 text-sm
      text-gray-900 focus:outline-blue-600
    }
    .textarea {
      @apply border-[1px] rounded-lg rounded-b-lg   p-2  w-full border-gray-400 mt-1 text-sm
      text-gray-900 focus:outline-blue-600
    }
  }

  
  @layer base {
    span {
      @apply text-sm;
    }
  
  }